@import './../base/vars';
.header {
  background-color: #fff;

  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 18;

  height: 108px;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.26);

  @media (max-width: 821px) {
    height: 72px;
  }

  & a {
    color: inherit;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff;
    padding: 35px 30px 41px 0px;
    z-index: 18;

    @media (max-width: 821px) {
      padding: 30px 0 10px 0;
    }
  }

  &__logo {
    display: flex;
    column-gap: 8px;
    align-items: center;

    &-name {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5px;
    }
  }

  &__list {
    display: flex;
    column-gap: 42px;
    justify-content: space-between;

    &.active {
      transition: transform 0.2s ease-in;
      transform: translateX(0);
    }

    @media (max-width: 821px) {
      position: absolute;
      top: 0px;
      right: 15px;
      z-index: 19;
      transform: translateX(-100vh);

      max-width: 100%;
      width: 100vh;
      height: 100vh;

      background-color: rgba(50, 50, 50, 0.98);

      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 50px;

      font-size: 31px;
      color: #fff;
    }
    &-item {
      & a {
        color: inherit;
      }

      &:hover,
      &.active {
        color: $accent-color;
      }

      @media (max-width: 821px) {
        a {
          padding: 15px 30px;
        }
      }
    }
  }

  &__burger {
    display: none;
    @media (max-width: 821px) {
      --burger-width: 45px;
      --burger-height: 32px;
      --burger-line-height: 7px;
      --burger-line-radius: 9px;
      --burger-transition-time: 0.5s;
      --burger-color: #323232;

      display: block;
      z-index: 19;
      width: var(--burger-width);
      height: var(--burger-height);
      position: relative;
      right: 40px;

      transform: rotate(0deg);

      transition: var(--burger-transition-time) ease-in-out;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        display: block;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
      }

      & span {
        display: block;
        position: absolute;
        height: var(--burger-line-height);
        width: 100%;
        background: var(--burger-color);
        border-radius: var(--burger-line-radius);
        opacity: 1;
        left: 0;

        transform: rotate(0deg);

        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          // bottom: calc(50% + var(--burger-line-height));
          top: 0;

          transform-origin: left center;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);

          transform-origin: left center;
        }

        &:nth-child(3) {
          bottom: 0;
          // top: calc(50% + var(--burger-line-height));

          transform-origin: left center;
        }
      }

      &.open span {
        background-color: #fff;
        &:nth-child(1) {
          transform: rotate(45deg);
          top: -3px;
          left: 8px;
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: calc(var(--burger-height) - var(--burger-line-height) + 3px);
          left: 8px;
        }
      }
    }
  }
}
